@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-gradient : radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,85,164,1) 34%, rgba(58,115,218,1) 46%, rgba(5,94,177,1) 53%, rgba(9,17,126,1) 67%, rgba(0,212,255,1) 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background-gradient : radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,85,164,1) 34%, rgba(58,115,218,1) 46%, rgba(5,94,177,1) 53%, rgba(9,17,126,1) 67%, rgba(0,212,255,1) 100%);
  }
}

body {
  color: rgb(var(--background-start-rgb));
  background: linear-gradient(135deg, rgba(0,85,164,1) 69%, rgba(0,212,255,1) 100%);
  background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
}
